@use "../variables" as var;

@mixin button($bg-back, $bg-next) {
  button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.2s ease-in-out;

    &:first-child{
        background-color: $bg-back;
        &:hover{
            background-color: darken($bg-back, 10%);
        }
    }
    &:last-child {
      background-color: $bg-next;
      &:hover{
          background-color: darken($bg-next, 10%);
      }
    }

  }
}
