@use "../variables" as var;
@use "./input" as i;
@use "./button" as b;

.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  gap: 40px;
  border-radius: 1rem;
  padding: 2rem;
  background-color: var.$form-card-bg-color;

  .form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    @include i.input();

    .input-group {
      display: flex;
      flex-direction: column;
      word-wrap: break-word;
      max-width: 270px;


      .validation-error {
        color: var.$validation-error-color;
        font-weight: 500;
      }
    }
  }
  .form-buttons-group {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    @include b.button(var.$btn-back-bg, var.$btn-bg-color);
  }
}

@media only screen and (max-width: 597px) {
  .form-group,
  .form-buttons-group,
  .card-form {
    justify-content: center;
    text-align: center;
  }
}
