@use "./button" as b;
@use "../variables" as var;
.modal-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;

  .modal {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem 3rem;
    border-radius: 1rem;

    &-resume{
      background-color: #e5e3e3;
      padding: 1rem 2rem;
    }

    &-buttons {
      display: flex;
      justify-content: center;
      gap: 1rem;
      button {
        &:hover {
          transform: scale(1.1);
        }
      }
      @include b.button(var.$btn-confirm-bg, var.$btn-cancel-bg);
    }
  }
}

@media only screen and (max-width: 597px){
  .modal {
    text-align: center;
  }
}
