@use "../variables" as var;

.progress-bar {
  display: flex;
  gap: 4rem;
  position: relative;
  justify-content: space-evenly;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var.$step-background-color;
    top: 67%;
    left: 0;
    z-index: -1;
  }
}
