$main-font:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$step-background-color: #0084ff;
$current-step-background-color: #fff;
$form-card-bg-color: #ffffffde;
$focus-color: #0084ff;
$btn-bg-color: #0084ff;
$btn-back-bg: #585858;
$btn-confirm-bg: #0084ff;
$btn-cancel-bg: #da2424;