$main-font:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$step-background-color: #0084ff;
$current-step-background-color: #fff;
$form-card-bg-color: #ffffffde;
$focus-color: #0084ff;
$btn-bg-color: #0084ff;
$btn-hover-bg: #0361ba;
$btn-back-bg: #585858;
$btn-back-hover-bg: #4a4a4a;