@use "./reset";
@use "./variables" as var;
@use "./components";

:root {
  font-family: var.$main-font;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
}